<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/common/search-box.css">
  <link rel="stylesheet" href="/css/warehouse/detail.css">
  <title>Admin Detail</title>
  <script src="/js/admin/detail.js"></script>
<!--  <script defer th:inline="javascript">-->
<!--    const adminId = [[${id}]];-->
<!--    adminDetail(adminId)-->
<!--  </script>-->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7e1a1e3ea1021ea492e25afd4b3247b1&libraries=services"></script>
  <script defer th:inline="javascript">
    const warehouse_id = [[${id}]];
  </script>
  <script defer type="text/javascript" th:src="@{/js/warehouse/mapDetail.js}"></script>
</head>
<body>
<div layout:fragment="content" th:class="container">
  <div th:class="page-info">
    <h2 th:class="page-title">창고 상세 조회</h2>
    <span th:class="page-subtitle">창고 관리 > 창고 현황 > 상세 조회</span>
  </div>
  <div class="action-btn">
    <button class="btn btn-modify" data-bs-toggle="modal" data-bs-target="#editEmployeeModal">수정</button>
    <button class="btn btn-remove" data-bs-toggle="modal" data-bs-target="#removeModal" disabled>삭제</button>
  </div>
  <div th:class="admin-info-box">
    <h5 th:class="box-title">창고 상세 정보</h5>
    <div th:class="admin-info">
      <div th:class="admin-detail-group">
        <div th:class="admin-detail">
          <span th:class="detail-label">창고번호</span>
          <span th:id="id" th:class="info-value">
          </span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">창고명</span>
          <span th:id="name" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">담당자</span>
          <span id="adminId"  th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">크기</span>
          <span th:id="size" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">수용량</span>
          <span th:id="capacity"  th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">최초 등록일</span>
          <span th:id="createdAt" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">주소</span>
          <span th:id="address" th:class="info-value"></span>
        </div>
        <div id="map" class="w-100" style="height:300px;"></div>
      </div>

      <div id="editEmployeeModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
           tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">창고 정보 수정</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="warehouse">
                <label for="name"><span>* </span>창고명</label>
                <input type="text" name="name" id="name" class="name" value=/>
              </div>

              <div class="warehouse">
                <label for="adminId2"><span>* </span>담당자</label>
                <input type="text" name="admin" class="adminId" id="adminId2"/>
              </div>

              <div class="warehouse">
                <label for="size2"><span>* </span>크기</label>
                <input type="text" name="size" class="size" id="size2" />
              </div>

              <div class="warehouse">
                <label for="capacity2"><span>* </span>수용량</label>
                <input type="text" name="capacity" class="capacity" id="capacity2" />
              </div>

              <div class="warehouse">
                <label for="sample5_address"><span>* </span>주소</label>
                <input type="text" name="address" class="address" id="sample5_address" placeholder="주소">
                <input type="button" onclick="execDaumPostcode()" value="주소 검색"><br>
              </div>

              <div class="warehouse">
                <div class="map" style="height:200px;margin-top:10px; display: none"></div>
                <input type="text" name="longitude" id="longitude" style="display: none">
                <input type="text" name="latitude" id="latitude" style="display: none">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">취소</button>
              <button class="btn btn-modify" data-bs-toggle="modal" data-bs-target="#modifyModal">수정</button>
            </div>
          </div>
        </div>
      </div>
      <div id="modifyModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
           tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">창고 정보 수정</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">
              창고 정보를 정말로 수정하시겠습니까?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">취소</button>
              <button type="button" class="btn btn-modify" id="modifyBtn">수정</button>
            </div>
          </div>
        </div>
      </div>


      <div id="removeModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
           tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">창고 삭제</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">
              창고를 정말로 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">취소</button>
              <button type="button" class="btn btn-remove">삭제</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>