.page-info {
    display: flex;
    justify-content: space-between; /* Aligns items to the ends */
    align-items: flex-start;        /* Aligns items to the top */
    position: relative;             /* Allows absolute positioning inside */
}

.page-title {
    margin: 0;                      /* Removes default margin from h1 */
}

.page-subtitle {
    position: absolute;
    top: 0;                        /* Aligns subtitle to the top */
    right: 0;                      /* Aligns subtitle to the right */
    font-size: 16px;               /* Adjust the font size if needed */
    #color: #777;                   /* Optional: Subtitle color */
}

.options-button {
    /*display: flex;*/
    /*flex-wrap: wrap;          !* Allows buttons to wrap if there's not enough space *!*/
    /*gap: 10px;                !* Adds space between buttons *!*/
    /*margin-top: 10px;*/
    width: 125px;
    height: 35px;/* Adds space between subtitle and buttons */
    display: flex;
    gap: 10px;                     /* Adds space between buttons */
    margin-top: 40px;              /* Adds space between subtitle and buttons */
    position: absolute;
    /*bottom: -35px;                 !* Moves buttons below the container *!*/
    right: 0;                       /* Aligns buttons to the left */
    /*width: 100%;                   !* Ensures buttons stretch across the container *!*/
    box-sizing: border-box;
}

.filter-button {
    padding: 8px 16px;
    font-family: 'BMHANNAAir', sans-serif;/* Adds padding inside buttons */
    font-size: 18px;               /* Adjust the font size if needed */
    border: 1px solid #ccc;        /* Adds border to buttons */
    background-color: #4F64C9;
    color: #FFFFFF;/* Button background color */
    cursor: pointer;               /* Changes cursor to pointer on hover */
    transition: background-color 0.3s;
    border: none;
    border-radius: 10px;
    writing-mode: horizontal-tb; /* Smooth background color transition */
    align-items: center;           /* Centers text vertically within the button */
    justify-content: center;
    display: flex;
}

.filter-button:hover {
    background-color: #3D4FA7;     /* Changes background color on hover */
}



.search-box {
    width: 100%;
    height: 180px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    #align-items: center;
    justify-content: center;
}

.search-box .title {
    margin: -10px 0 0 0;
    align-self: flex-start
}

.select-box {
    display: flex;
    width: calc(100% - 40px);
    list-style: none;
    justify-content: center;
    align-self: flex-start;
    gap: 15px;
    margin: 10px;
}

.select-menu {
    font-family: 'BMHANNAAir', sans-serif;
    color: #50565C;
    font-size: 18px;
    width: 250px;
    max-width: calc(100% / 3);
    cursor: pointer;
    position: relative;
}

.select-menu span {
    font-family: 'BMHANNAAir', sans-serif;
    color: #50565C;
    font-size: 18px;
}

.select {
    background-color: #FFFFFF;
    border: 1px solid #8D9DEF;
    border-radius: 10px;
    padding: 5px 15px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.option-list {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    display: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: all 0.3s ease;
}

.option-list.active {
    display: block;
    max-height: 120px;
}

.option-list .dropdown {
    z-index: 200;
    transition: transform 0.3s ease;
}

.active .dropdown {
    transform: rotate(-180deg);
}

.option-list::-webkit-scrollbar {
    width: 4px;
    background-color: #FFFFFF;
}

.option-list::-webkit-scrollbar-thumb {
    background-color: #4F64C9;
}

.option {
    padding: 8px 10px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.option:hover {
    background-color: #BEC9FF;
    border-radius: 10px;
}

.option.selected {
    background-color: #8D9DEF;
    color: #FFFFFF;
    border-radius: 10px;
}

.search-box .search-filters {
    display: flex;
    width: calc(100% - 40px);
    list-style: none;
    justify-content: center;
    gap: 15px;
    margin: 10px;
    padding: 0;
    align-self: flex-start;
}

.search-box .search-filters .filter-item {
    width: 250px;
    max-width: calc(100% / 3);
}

.search-box .search-filters .filter-item .filter-input {
    font-family: 'BMHANNAAir', sans-serif;
    color: #50565C;
    width: 100%;
    height: 35px;
    border: 1px solid #8D9DEF;
    border-radius: 10px;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

/*.search-box .search-filters .filter-item .filter-input:focus {*/
/*    border: 1px solid #4F64C9;*/
/*!*}*!.search-filters*/

.search-box .filter-item .filter-button {
    font-family: 'BMHANNAAir', sans-serif;
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #4F64C9;
    color: #FFFFFF;
    font-size: 18px;
}

/*.search-filters*/
.search-box .filter-item .filter-button:focus {
    background-color: #3D4FA7;
}

.status-btn {
    float: right;
}

.status-btn .approve-btn,
.status-btn .reject-btn,
.status-btn .register-btn,
.status-btn .modify-btn{
    font-family: 'BMHANNAAir', sans-serif;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #4F64C9;
    color: #FFFFFF;
    font-size: 18px;
    margin: 20px 0 10px 10px;
}