<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/admin/detail.css">
  <title>Admin Detail</title>
  <script src="/js/admin/detail.js"></script>
  <script defer th:inline="javascript">
    const adminId = [[${id}]];
    adminDetail(adminId)
  </script>
</head>
<body>
<div layout:fragment="content" th:class="container">
  <div th:class="page-info">
    <h2 th:class="page-title"><span th:name="name">[Name]</span> 상세 조회</h2>
    <span th:class="page-subtitle">직원 관리 > 직원 조회 > 상세 조회</span>
  </div>
  <div th:class="admin-info-box">
    <h5 th:class="box-title">직원 정보</h5>
    <div th:class="img"></div>
    <div th:class="admin-info">
      <div th:class="admin-detail-group">
        <div th:class="admin-detail">
          <span th:class="detail-label">ID</span>
          <span th:id="id" th:text="${id}" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">이름</span>
          <span th:id="name" th:text="${name}" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">아이디</span>
          <span th:id="adminId" th:text="${adminId}" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">이메일</span>
          <span th:id="email" th:text="${email}" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">최초 등록일</span>
          <span th:id="createdAt" th:text="${createdAt}" th:class="info-value"></span>
        </div>
      </div>
      <div th:class="admin-detail-group">
        <div th:class="admin-detail">
          <span th:class="detail-label">권한</span>
          <span th:id="role" th:text="${role}" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">부서</span>
          <span th:id="department" th:text="${department}" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">직급</span>
          <span th:id="position" th:text="${position}" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">전화번호</span>
          <span th:id="phone" th:text="${phone}" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">최종 수정일</span>
          <span th:id="updatedAt" th:text="${updatedAt}" th:class="info-value"></span>
        </div>
      </div>
    </div>

</body>
</html>