<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/admin/detail.css">
  <title>Admin Detail</title>
  <script src="/js/admin/detail.js"></script>
  <script th:inline="javascript">
    const adminId = [[${id}]];
  </script>
</head>
<body>
<div layout:fragment="content" th:class="container">
  <div th:class="page-info">
    <h2 th:class="page-title"><span th:name="name">[Name]</span> 상세 조회</h2>
    <span th:class="page-subtitle">직원 관리 > 직원 조회 > 상세 조회</span>
  </div>
  <div class="action-btn">
    <button class="btn btn-modify" data-bs-toggle="modal" data-bs-target="#editEmployeeModal">수정
    </button>
    <button class="btn btn-remove" data-bs-toggle="modal" data-bs-target="#removeModal">삭제</button>
  </div>
  <div th:class="admin-info-box">
    <h5 th:class="box-title">직원 정보</h5>
    <div th:class="img"></div>
    <div th:class="admin-info">
      <div th:class="admin-detail-group">
        <div th:class="admin-detail">
          <span th:class="detail-label">ID</span>
          <span th:id="id" th:text="${id}" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">이름</span>
          <span th:id="name" th:text="${name}" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">아이디</span>
          <span th:id="username" th:text="${username}" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">이메일</span>
          <span th:id="companyEmail" th:text="${companyEmail}" th:class="info-value"></span>
        </div>
      </div>
      <div th:class="admin-detail-group">
        <div th:class="admin-detail">
          <span th:class="detail-label">담당 창고</span>
          <span th:id="warehouseName" th:text="${warehouseName}" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">권한</span>
          <span th:id="role" th:text="${role}" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">전화번호</span>
          <span th:id="phone" th:text="${phone}" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">최초 등록일</span>
          <span th:id="createdAt" th:text="${createdAt}" th:class="info-value"></span>
        </div>
        <div th:class="admin-detail">
          <span th:class="detail-label">최종 수정일</span>
          <span th:id="updatedAt" th:text="${updatedAt}" th:class="info-value"></span>
        </div>
      </div>
      <div id="editEmployeeModal" class="modal fade" data-bs-backdrop="static"
           data-bs-keyboard="false"
           tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">직원 정보 수정</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p th:class="modal-warning">※ 직원의 권한만 수정할 수 있습니다.</p>
              <div class="select-box">
                <div class="select-menu select-role" id="select-role">
                  <div class="select" id="select">
                    <span>권한</span>
                    <i class="dropdown">
                      <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20"
                           height="20">
                    </i>
                  </div>
                  <div class="option-list role-list" id="role-list">
                    <div class="option option-default" data-value="">-- 선택 --</div>
                    <div class="option" data-value="EMPLOYEE">직원</div>
                    <div class="option" data-value="ADMIN">관리자</div>
                    <div class="option" data-value="SUPER_ADMIN">총관리자</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">취소</button>
              <button class="btn btn-modify" data-bs-toggle="modal" data-bs-target="#modifyModal">
                수정
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="modifyModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
           tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">직원 정보 수정</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">
              [ <span th:name="name" th:class="modal-content">[Name]]</span> ] 직원의 정보를 정말로 수정하시겠습니까?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">취소</button>
              <button type="button" class="btn btn-modify" id="btn-modify">수정</button>
            </div>
          </div>
        </div>
      </div>
      <div id="removeModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
           tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">직원 삭제</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body">
              [ <span th:name="name" th:class="modal-content">[Name]]</span> ] 직원을 정말로 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">취소</button>
              <button type="button" class="btn btn-remove">삭제</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>