<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/admin/common.css">
  <link rel="stylesheet" href="/css/admin/index.css">
  <link rel="stylesheet" href="/css/common/table.css">
  <script src="/js/admin/index.js"></script>
  <script defer th:inline="javascript">
    adminList()
  </script>
  <title>Admin Index</title>
</head>
<body>
<div layout:fragment="content" class="container">
  <div class="page-info">
    <h1 class="page-title">직원 조회</h1>
    <span class="page-subtitle">직원 관리 > 직원 조회</span>
  </div>
  <div class="search-box">
    <h3 class="title">검색 조건</h3>
    <div class="select-box">
      <ul class="search-filters">
        <li class="filter-item">
          <div class="select-menu">
            <div class="select">
              <span>권한</span>
              <i class="dropdown">
                <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">
              </i>
            </div>
            <div class="option-list">
              <div class="option option-default" data-value="">-- 선택 --</div>
              <div class="option" data-value="EMPLOYEE">직원</div>
              <div class="option" data-value="ADMIN">관리자</div>
              <div class="option" data-value="SUPER_ADMIN">총관리자</div>
            </div>
          </div>
        </li>
        <!--      <ul class="search-filters">-->
        <li class="filter-item">
          <input type="text" class="filter-input" placeholder="이름">
        </li>
        <li class="filter-item">
          <input type="text" class="filter-input" placeholder="이메일">
        </li>
      </ul>
    </div>
    <div class="search-button">
      <button type="button" class="filter-button">검색</button>
    </div>
    <!--      </div>-->
    <!--      <div class="select-menu">-->
    <!--        <div class="select">-->
    <!--          <span>부서</span>-->
    <!--          <i class="dropdown">-->
    <!--            <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">-->
    <!--          </i>-->
    <!--        </div>-->
    <!--        <div class="option-list">-->
    <!--          <div class="option option-default" data-value="">&#45;&#45; 선택 &#45;&#45;</div>-->
    <!--          <div class="option" data-value="DELIVERY">배송팀</div>-->
    <!--          <div class="option" data-value="INBOUND">입고팀</div>-->
    <!--          <div class="option" data-value="OUTBOUND">출고팀</div>-->
    <!--          <div class="option" data-value="FINANCE">재무팀</div>-->
    <!--          <div class="option" data-value="PRODUCT_MANAGEMENT">상품 관리팀</div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="select-menu">-->
    <!--        <div class="select">-->
    <!--          <span>직급</span>-->
    <!--          <i class="dropdown">-->
    <!--            <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">-->
    <!--          </i>-->
    <!--        </div>-->
    <!--        <div class="option-list">-->
    <!--          <div class="option option-default" data-value="">&#45;&#45; 선택 &#45;&#45;</div>-->
    <!--          <div class="option" data-value="TEAM_MEMBER">팀원</div>-->
    <!--          <div class="option" data-value="TEAM_LEADER">팀장</div>-->
    <!--          <div class="option" data-value="DEPARTMENT_HEAD">총괄팀장</div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    <ul class="search-filters">-->
    <!--      <li class="filter-item">-->
    <!--        <input type="text" class="filter-input" placeholder="이름">-->
    <!--      </li>-->
    <!--      <li class="filter-item">-->
    <!--        <input type="text" class="filter-input" placeholder="이메일">-->
    <!--      </li>-->
    <!--      <li class="filter-item">-->
    <!--        <button type="button" class="filter-button">검색</button>-->
    <!--      </li>-->
    <!--    </ul>-->
  </div>
  <div class="table-list">
    <table id="admin-list">
      <thead>
      <tr>
        <th>사번</th>
        <th>이름</th>
        <th>이메일</th>
        <th>창고</th>
        <th>권한</th>
        <th>전화번호</th>
        <th>최초 생성 일시</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
