<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/admin/index.css">
  <script defer src="/js/admin/index.js"></script>
  <title>Admin Index</title>
</head>
<body>
<div layout:fragment="content" class="container">
  <div class="page-info">
    <h1 class="page-title">직원 조회</h1>
    <span class="page-subtitle">회원 관리 > 직원 조회</span>
  </div>
  <div class="search-box">
    <h2 class="title">검색 조건</h2>
    <div class="select-box">
      <div class="select-menu">
        <div class="select">
          <span>권한</span>
          <i class="dropdown">
            <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">
          </i>
        </div>
        <div class="option-list">
          <div class="option" data-value="EMPLOYEE">직원</div>
          <div class="option" data-value="ADMIN">관리자</div>
          <div class="option" data-value="SUPER_ADMIN">총관리자</div>
        </div>
      </div>
      <div class="select-menu">
        <div class="select">
          <span>부서</span>
          <i class="dropdown">
            <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">
          </i>
        </div>
        <div class="option-list">
          <div class="option" data-value="HR">인사팀</div>
          <div class="option" data-value="WAREHOUSE">창고팀</div>
          <div class="option" data-value="DELIVERY">배송팀</div>
          <div class="option" data-value="DEVELOPMENT">개발팀</div>
          <div class="option" data-value="ACCOUNTING">회계팀</div>
        </div>
      </div>
      <div class="select-menu">
        <div class="select">
          <span>직급</span>
          <i class="dropdown">
            <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">
          </i>
        </div>
        <div class="option-list">
          <div class="option" data-value="TEAM_MEMBER">팀원</div>
          <div class="option" data-value="TEAM_LEADER">팀장</div>
          <div class="option" data-value="DEPARTMENT_HEAD">총괄팀장</div>
        </div>
      </div>
    </div>
    <ul class="search-filters">
      <li class="filter-item">
        <input type="text" class="filter-input" placeholder="이름">
      </li>
      <li class="filter-item">
        <input type="text" class="filter-input" placeholder="이메일">
      </li>
      <li class="filter-item">
        <button type="button" class="filter-button">검색</button>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
