<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/admin/index.css">
  <title>Admin Index</title>
</head>
<body>
  <div layout:fragment="content" class="container">
    <div class="page-info">
      <h1 class="page-title">직원 조회</h1>
      <span class="page-subtitle">회원 관리 > 직원 조회</span>
    </div>
    <div class="search-box">
    </div>
  </div>
</div>
</body>
</html>
