<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/inbound/index.css">
  <link rel="stylesheet" href="/css/common/table.css">
  <script defer src="/js/common/warehouse-dropdown.js"></script>
  <script src="/js/inbound/index.js"></script>
  <script defer th:inline="javascript">
    inboundList()
  </script>
  <title>Inbound Index</title>
</head>
<body>
<div layout:fragment="content" class="container">
  <div class="page-info">
    <h1 class="page-title">입고 조회</h1>
    <span class="page-subtitle">입고 관리 > 입고 조회</span>
  </div>
  <div class="search-box">
    <h3 class="title">검색 조건</h3>
    <div class="select-box">
      <div class="select-menu">
        <div class="select">
          <span>승인 상태</span>
          <i class="dropdown">
            <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">
          </i>
        </div>
        <div class="option-list">
          <div class="option" data-value="PENDING">승인 대기</div>
          <div class="option" data-value="APPROVED">승인 완료</div>
          <div class="option" data-value="REJECTED">승인 거절</div>
        </div>
      </div>
      <div class="select-menu">
        <div class="select">
          <span>창고</span>
          <i class="dropdown">
            <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">
          </i>
        </div>
        <div class="option-list">
          <div class="option-search">
            <input th:type="text" th:placeholder="Search">
          </div>
          <div id="dropdown-list"></div>
        </div>
      </div>
      <div class="select-menu">
        <button type="button" class="filter-button">검색</button>
      </div>
    </div>
  </div>
  <div class="table-list">
    <table id="inbound-list">
      <thead>
      <tr>
        <th>ID</th>
        <th>회원</th>
        <th>상품</th>
        <th>셀 ID</th>
        <th>입고 예정 날짜</th>
        <th>입고 수량</th>
        <th>승인 상태</th>
        <th>입고 요청 시각</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
