<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/global.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragment/sidebar.css}">
  <link rel="shortcut icon" href="#">
  <script src="/js/layout.js"></script>
  <title th:text="${title}"></title>
</head>
<body>
  <header th:replace="~{fragment/header :: header}"></header>
  <div th:replace="~{fragment/sidebar :: sidebar}"></div>
  <div class="main-content">
    <div layout:fragment="content"></div>
  </div>
</body>
</html>
