.search-box {
  height: 200px;
  justify-content: center;
}

.search-box .title {
  margin-top: 10px;
}

.search-box .search-filters {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 0px 20px;
  gap: 15px;

}

.search-box .search-filters .filter-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
}

.search-box .search-filters .filter-item {
  width: 100%;
  cursor: pointer;
  position: relative;
}

.select {
  width: 100%;
  height: 35px;
}

.table-list {
  gap: 25px;
}