.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;
  padding-top: 65px;
  background-color: #FFFFFF;
  transition: width 0.3s ease-in-out;
  z-index: 100;
}

.sidebar.close {
  width: 54px;
}

.sidebar .nav-links {
  height: 100%;
  padding: 0px;
  overflow: hidden;
}

.sidebar.close .nav-links {
  height: 100%;
  padding: 0px;
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

.sidebar .nav-links .nav-menu span,
.sidebar .nav-links .nav-menu .nav-arrow {
  transition: all 0.3s ease;
}

.sidebar.close .nav-links .nav-menu span,
.sidebar.close .nav-links .nav-menu .nav-arrow {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links .nav-menu:hover,
.sidebar .nav-links .nav-menu .sub-menu:hover {
  background-color: #BEC9FF;
  border-radius: 5px;
}

.sidebar .nav-links .nav-menu .sub-menus .sub-menu:focus-within {
  background-color: #8D9DEF;
  border-radius: 5px;
}

.sidebar .nav-links .nav-menu .sub-menus .sub-menu:focus-within a {
  color: #FFFFFF;
}

.sidebar .nav-links li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .nav-links li i {
  display: flex;
  height: 50px;
  min-width: 55px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links .showMenu .nav-arrow {
  transform: rotate(-180deg);
}

.sidebar .nav-links li a {
  font-family: 'BMHANNAAir', sans-serif;
  color: #5F6368;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 20px;
}

.sidebar .nav-links li .sub-menus {
  background-color: #FCFCFC;
  padding: 10px 17px 10px 44px;
  margin-top: -5px;
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menus {
  display: block;
}

.sidebar .nav-links li .sub-menus .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menus {
  background-color: #EBEDEF;
  position: absolute;
  left: 100%;
  top: -5px;
  margin-top: 0;
  padding: 20px 20px;
  border-radius: 0 5px 5px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: none;
  z-index: 200;
}

.sidebar.close .nav-links li:hover .sub-menus {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.3s ease-in-out;
}

.sidebar.close .nav-links li .sub-menus .link_name {
  display: block;
  font-family: 'BMHANNAAir', sans-serif;
  color: #5F6368;
  font-size: 18px;
  padding: 5px 0px;
  margin-left: 5px;
  white-space: nowrap;
}

.sidebar .nav-links li .sub-menus a {
  font-size: 16px;
  padding: 10px 0px;
  margin: 0 10px;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.show-section {
  position: fixed;
  left: 220px;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  transition: all 0.3s ease;
  z-index: 200;
}

.sidebar.close ~ .show-section {
  left: 55px;
  width: calc(100% - 55px);
}

.sidebar.close ~ .show-section .show {
  left: -50px;
  transform: rotate(-180deg);
}

.show-section .show-content {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-section .show-content .show {
  background-color: #BEC9FF;
  border-radius: 50%;
  padding: 10px;
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 20px;
  transition: all 0.3s ease;
}