<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar">
  <div class="sidebar">
    <ul class="nav-links">
      <li class="nav-menu">
        <a href="#">
          <i class="nav-link-icon">
            <img src="/media/icons/dashboard.svg" alt="Dashboard Icon" width="24" height="24">
          </i>
          <span class="link_name">대시보드</span>
        </a>
        <ul class="sub-menus">
          <li class="link_name">대시보드</li>
          <li tabindex="0" class="sub-menu">
            <a href="#">대시보드</a>
          </li>
        </ul>
      </li>
      </li>
      <li class="nav-menu">
        <div class="icon-link">
          <a href="#">
            <i class="nav-link-icon">
              <img src="/media/icons/member.svg" alt="Member Icon" width="24" height="24">
            </i>
            <span class="link_name">회원 관리</span>
          </a>
          <i class="nav-arrow">
            <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">
          </i>
        </div>
        <ul class="sub-menus">
          <li class="link_name">회원 관리</li>
          <li tabindex="0" class="sub-menu">
            <a href="/admin/index">직원 조회</a>
          </li>
          <li tabindex="0" class="sub-menu">
            <a href="/user/index">회원 조회</a>
          </li>
        </ul>
      </li>
      <li class="nav-menu">
        <div class="icon-link">
          <a href="#">
            <i class="nav-link-icon">
              <img src="/media/icons/warehouse.svg" alt="Warehouse Icon" width="24" height="24">
            </i>
            <span class="link_name">창고 관리</span>
          </a>
          <i class="nav-arrow">
            <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">
          </i>
        </div>
        <ul class="sub-menus">
          <li class="link_name">창고 관리</li>
          <li tabindex="0" class="sub-menu">
            <a href="/warehouse/index">창고 조회</a>
          </li>
        </ul>
      </li>
      <li class="nav-menu">
        <div class="icon-link">
          <a href="#">
            <i class="nav-link-icon">
              <img src="/media/icons/inbound.svg" alt="Inbound Icon" width="24" height="24">
            </i>
            <span class="link_name">입고 관리</span>
          </a>
          <i class="nav-arrow">
            <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">
          </i>
        </div>
        <ul class="sub-menus">
          <li class="link_name">입고 관리</li>
          <li tabindex="0" class="sub-menu">
            <a href="/inbound/index">입고 조회</a>
          </li>
        </ul>
      </li>
      <li class="nav-menu">
        <div class="icon-link">
          <a href="#">
            <i class="nav-link-icon">
              <img src="/media/icons/outbound.svg" alt="Outbound Icon" width="24" height="24">
            </i>
            <span class="link_name">출고 관리</span>
          </a>
          <i class="nav-arrow">
            <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">
          </i>
        </div>
        <ul class="sub-menus">
          <li class="link_name">출고 관리</li>
          <li tabindex="0" class="sub-menu">
            <a href="/outbound/index">출고 조회</a>
          </li>
          <li tabindex="0" class="sub-menu">
            <a href="/dispatch/index">배차 조회</a>
          </li>
        </ul>
      </li>
      <li class="nav-menu">
        <div class="icon-link">
          <a href="#">
            <i class="nav-link-icon">
              <img src="/media/icons/stock.svg" alt="Stock Icon" width="24" height="24">
            </i>
            <span class="link_name">재고 관리</span>
          </a>
          <i class="nav-arrow">
            <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">
          </i>
        </div>
        <ul class="sub-menus">
          <li class="link_name">재고 관리</li>
          <li tabindex="0" class="sub-menu">
            <a href="/stock/index">재고 조회</a>
          </li>
        </ul>
      </li>
      <li class="nav-menu">
        <div class="icon-link">
          <a href="#">
            <i class="nav-link-icon">
              <img src="/media/icons/vehicle.svg" alt="Stock Icon" width="24" height="24">
            </i>
            <span class="link_name">차량 관리</span>
          </a>
          <i class="nav-arrow">
            <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">
          </i>
        </div>
        <ul class="sub-menus">
          <li class="link_name">차량 관리</li>
          <li tabindex="0" class="sub-menu">
            <a href="/vehicle/index">차량 조회</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <section class="show-section">
    <div class="show-content">
      <i class="show">
        <img src="/media/icons/arrow_left.svg" alt="Arrow Left Icon" width="25" height="25">
      </i>
    </div>
  </section>
</div>
</html>