<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/dispatch/index.css">
  <link rel="stylesheet" href="/css/common/table.css">
  <script defer src="/js/common/checkbox.js"></script>
  <script defer src="/js/dispatch/index.js"></script>
  <title>Outbound Index</title>
</head>
<body>
<div layout:fragment="content" class="container">
  <div class="page-info">
    <h1 class="page-title">배차 조회</h1>
    <span class="page-subtitle">출고 관리 > 배차 조회</span>

  </div>
  <div class="search-box">
    <!--      form 추가-->
    <h3 class="title">검색 조건</h3>
    <div class="select-box">
      <div class="select-menu">
        <div class="select">
          <span id="selected-option">승인 상태</span>
          <i class="dropdown">
            <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">
          </i>
        </div>
        <div class="option-list">
          <div class="option" data-value="APPROVED">승인</div>
          <div class="option" data-value="PENDING">미승인</div>
          <div class="option" data-value="REJECTED">반려</div>
        </div>
      </div>

      <!--      <div class="search-filters">-->
      <div class="filter-item">
        <button type="button" class="filter-button">검색</button>
      </div>
    </div>
  </div>
  <div class="status-btn">
    <button class="register-btn" data-bs-toggle="modal" data-bs-target="#registerModal">등록</button>
    <button class="modify-btn" data-bs-toggle="modal" data-bs-target="#modifyModal">수정</button>
    <button class="reject-btn" data-bs-toggle="modal" data-bs-target="#rejectModal">반려</button>
  </div>

  <div class="table-list">
    <table>
      <thead>
      <tr>
        <th>
          <input class="check-box-all" type="checkbox" value="" onclick="checkAll(this)">
        </th>
        <th>출고번호</th>
        <th>상품</th>
        <th>제품수량</th>
        <th>고객</th>
        <th>상태</th>

      </tr>
      </thead>
      <tbody>
      <!-- 삭제 예정 -->
      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'1'}"></td>
        <td th:text="${'높이조절책상'}"></td>
        <td th:text="${'70'}"></td>
        <td th:text="${'ikea'}"></td>
        <td th:text="${'APPROVED'}"></td>
      </tr>

      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'2'}"></td>
        <td th:text="${'키다리옷장'}"></td>
        <td th:text="${'10'}"></td>
        <td th:text="${'한샘'}"></td>
        <td th:text="${'PENDING'}"></td>
      </tr>

      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'3'}"></td>
        <td th:text="${'푹신의자'}"></td>
        <td th:text="${'50'}"></td>
        <td th:text="${'ikea'}"></td>
        <td th:text="${'PENDING'}"></td>
      </tr>

      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'4'}"></td>
        <td th:text="${'구름소파'}"></td>
        <td th:text="${'30'}"></td>
        <td th:text="${'jiko'}"></td>
        <td th:text="${'PENDING'}"></td>
      </tr>

      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'5'}"></td>
        <td th:text="${'스마트화장대'}"></td>
        <td th:text="${'34'}"></td>
        <td th:text="${'kio'}"></td>
        <td th:text="${'REJECTED'}"></td>
      </tr>

      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'6'}"></td>
        <td th:text="${'할머니서랍장'}"></td>
        <td th:text="${'100'}"></td>
        <td th:text="${'MIT'}"></td>
        <td th:text="${'PENDING'}"></td>
      </tr>

      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'7'}"></td>
        <td th:text="${'블럭파티션'}"></td>
        <td th:text="${'40'}"></td>
        <td th:text="${'HOP'}"></td>
        <td th:text="${'APPROVED'}"></td>
      </tr>

      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'8'}"></td>
        <td th:text="${'유리식탁'}"></td>
        <td th:text="${'58'}"></td>
        <td th:text="${'ULKIN'}"></td>
        <td th:text="${'APPROVED'}"></td>
      </tr>

      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'9'}"></td>
        <td th:text="${'더블침대'}"></td>
        <td th:text="${'70'}"></td>
        <td th:text="${'에이스침대'}"></td>
        <td th:text="${'REJECTED'}"></td>
      </tr>

      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'10'}"></td>
        <td th:text="${'올드스탠드'}"></td>
        <td th:text="${'10'}"></td>
        <td th:text="${'한샘'}"></td>
        <td th:text="${'PENDING'}"></td>
      </tr>

      </tbody>
    </table>
  </div>

  <div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reject">배차 반려</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="rejection-reason" class="col-form-label">배차 반려 이유를 적으시오.</label>
          <textarea class="form-control" id="rejection-reason" rows="3" required ></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary">반려</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="register">배차 등록</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="register-info" class="col-form-label">배차 등록 내용 확인</label>
          <textarea class="form-control" id="register-info" rows="3" required ></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary">등록</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modify">배차 수정</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="modify-info" class="col-form-label">배차 수정 내용</label>
          <textarea class="form-control" id="modify-info" rows="3" required ></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary">수정</button>
        </div>
      </div>
    </div>
  </div>




</div>
<!--</div>-->
</body>
</html>