body {
    background-color: #F8F8F8 !important;
}

.container {
    padding: 0 !important;
}

h1 {
    font-family: 'NanumSquare-ExtraBold', sans-serif !important;
    font-weight: normal !important;
    font-size: 2.5rem !important;
}

input{
    font-family: 'NanumSquare', sans-serif !important;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 0;
    outline: none;
    font-size: 10px;
}
input::placeholder{
    color: #d9d9d9
}
.warehouse {
    width: 75%;
    box-sizing: border-box;
    margin: 20px auto;
    position: relative;
}
.warehouse label{
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 14px;
    padding: 10px;
    background: white;
    font-size: 14px;
    color: #888;
    font-weight: bold;
}

.warehouse label span{
    color: #da4841;
    vertical-align: -1px;
}
.warehouse input{
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.45;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    padding: 16px;
    margin-top: 12px;
}

.navbar-header {
    width: 700px;
}

.background-container {
    display: none;
}

.btn {
    min-width: 100px; /* 버튼의 최소 너비 설정 */
    white-space: nowrap; /* 텍스트가 줄 바꿈 되지 않도록 설정 */
    height: 38px; /* 버튼 높이 고정 */
    font-family: 'NanumSquare-Bold', sans-serif;
    font-size: 17px;
    color: #FFFFFF !important;
    border: none;
    border-radius: 10px;
    background-color: #4F64C9 !important;
}

div>nav:nth-child(n) {
    border-radius: 10px !important;
}

@media (max-width: 768px) {
    .page-info {
        display: none;
    }

    .front-container-list {
        display: none;
    }

    .background-container {
        display: flex;
        flex-direction: column; /* 세로 정렬 */
        align-items: center; /* 수평 중앙 정렬 */
        justify-content: center; /* 수직 중앙 정렬 */
        height: 80vh; /* 화면 높이를 100%로 설정 */
        position: relative; /* 자식 요소의 위치 설정을 위한 상대 위치 */
        background-color: #f8f9fa; /* 배경색 */
    }

    .parrot {
        width: 200px;
        height: 200px;
        background-image: url('/media/img/parrot.jpg'); /* 앵무새 이미지 경로 */
        background-size: cover;
        animation: fly 8s infinite alternate;
    }
    @keyframes fly {
        0% { transform: translateX(-50%); }
        25% { transform: translateY(-50%); }
        50% { transform: translateX(50%); }
        75% { transform: translateY(50%); }
        100% { transform: translateX(-50%); }
    }

    .message {
        display: block;
        background-color: #b76e79;
        color: white;
        padding: 10px;
        border-radius: 5px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 5%;
    }

}

.form-control {
    flex-grow: 1; /* 입력 필드가 가능한 공간을 모두 차지하도록 설정 */
    min-width: 0; /* 최소 너비를 0으로 설정하여 공간을 최대한 활용 */
}

.navbar {
    height: auto;
    padding: 8px;
}

.form-item {
    width: 90%;
}

.navbar-brand {
    font-family: 'NanumSquare-ExtraBold', sans-serif !important;
    font-size: 1.75rem !important;
}

.dropdown-span {
    white-space: nowrap;
}

.option-list {
    z-index: 1;
}

#map {
    z-index: 0;
}

.select-menu {
    font-family: 'NanumSquare', sans-serif;
    color: #50565C;
    font-size: 18px;
    width: auto;
    min-width: 150px;
    cursor: pointer;
    position: relative;
}