input{
    font-family: 'Noto Sans KR','Noto Sans Korean', "Nanum Gothic", sans-serif !important;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 0;
    outline: none;
    font-size: 10px;
}
input::placeholder{
    color: #d9d9d9
}
.warehouse {
    width: 75%;
    box-sizing: border-box;
    margin: 20px auto;
    position: relative;
}
.warehouse label{
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 14px;
    padding: 10px;
    background: white;
    font-size: 14px;
    color: #888;
    font-weight: bold;
}
/*.warehouse.ver2 label{*/
/*    top: initial;*/
/*    bottom: -20px;*/
/*}*/
.warehouse label span{
    color: #da4841;
    vertical-align: -1px;
}
.warehouse input{
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.45;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    padding: 16px;
    margin-top: 12px;
}