<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/user/detail.css">
  <title>User Detail</title>
  <script src="/js/user/detail.js"></script>
  <script th:inline="javascript">
    const userId = [[${id}]];
  </script>
</head>
<body>
<div layout:fragment="content" th:class="container">
  <div th:class="page-info">
    <h2 th:class="page-title"><span th:name="companyName">[companyName]</span> 상세 조회</h2>
    <span th:class="page-subtitle">회원 관리 > 회원 조회 > 상세 조회</span>
  </div>
  <div class="action-btn">
    <button class="btn btn-approve" data-bs-toggle="modal" data-bs-target="#approveModal">승인
    </button>
    <button class="btn btn-reject" data-bs-toggle="modal" data-bs-target="#rejectModal">반려</button>
    <button class="btn btn-modify" data-bs-toggle="modal" data-bs-target="#editUserModal" disabled>수정
    </button>
    <button class="btn btn-remove" data-bs-toggle="modal" data-bs-target="#unregisterModal">강제 탈퇴</button>
  </div>
  <div th:class="user-info-box">
    <h5 th:class="box-title">회원 정보</h5>
    <div th:class="user-info">
      <div th:class="user-detail-group">
        <div th:class="user-detail">
          <span th:class="detail-label">ID</span>
          <span th:id="id" th:text="${id}" th:class="info-value"></span>
        </div>
        <div th:class="user-detail">
          <span th:class="detail-label">이름</span>
          <span th:id="name" th:text="${name}" th:class="info-value"></span>
        </div>
        <div th:class="user-detail">
          <span th:class="detail-label">아이디</span>
          <span th:id="username" th:text="${username}" th:class="info-value"></span>
        </div>
        <div th:class="user-detail">
          <span th:class="detail-label">이메일</span>
          <span th:id="email" th:text="${email}" th:class="info-value"></span>
        </div>
        <div th:class="user-detail">
          <span th:class="detail-label">전화번호</span>
          <span th:id="phone" th:text="${phone}" th:class="info-value"></span>
        </div>
        <div th:class="user-detail">
          <span th:class="detail-label">최초 등록일</span>
          <span th:id="created-at" th:text="${createdAt}" th:class="info-value"></span>
        </div>
        <div th:class="user-detail">
          <span th:class="detail-label">최종 수정일</span>
          <span th:id="updated-at" th:text="${updatedAt}" th:class="info-value"></span>
        </div>
      </div>
      <div th:class="user-detail-group">
        <div th:class="user-detail">
          <span th:class="detail-label">사업자 번호</span>
          <span th:id="business-number" th:text="${businessNumber}" th:class="info-value"></span>
        </div>
        <div th:class="user-detail">
          <span th:class="detail-label">상호명</span>
          <span th:id="company-name" th:text="${companyName}" th:class="info-value"></span>
        </div>
        <div th:class="user-detail">
          <span th:class="detail-label">사업장 우편번호</span>
          <span th:id="zip-code" th:text="${zipCode}" th:class="info-value"></span>
        </div>
        <div th:class="user-detail">
          <span th:class="detail-label">사업장 주소</span>
          <span th:id="address" th:text="${address}" th:class="info-value"></span>
        </div>
        <div th:class="user-detail">
          <span th:class="detail-label">탈퇴 여부</span>
          <span th:id="is-unregister" th:text="${isUnregister == 1 ? 'O' : 'X'}"
                th:class="info-value"></span>
        </div>
        <div th:class="user-detail">
          <span th:class="detail-label">탈퇴 사유</span>
          <textarea th:id="unregister-reason" th:text="${unregisterReason}" th:class="info-value" readonly></textarea>
        </div>
        <div th:class="user-detail">
          <span th:class="detail-label">탈퇴 시각</span>
          <span th:id="unregistered-at" th:text="${unregisteredAt}" th:class="info-value"></span>
        </div>
        <div th:class="user-detail">
          <span th:class="detail-label">비고</span>
          <textarea th:id="comment" th:text="${comment}" th:class="info-value" readonly></textarea>
        </div>
      </div>
    </div>
  </div>
  <div th:class="user-approval-box">
    <h5 th:class="box-title">회원 승인 내역</h5>
    <table id="approval-list">
      <thead>
      <tr>
        <th>승인 상태</th>
        <th>반려 사유</th>
        <th>생성 시각</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div id="approveModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
       tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">회원 가입 승인</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          [ <span th:name="companyName" th:class="modal-content">[companyName]]</span> ] 회원의 가입을
          승인하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-action" id="btn-approve">승인</button>
        </div>
      </div>
    </div>
  </div>
  <div id="rejectModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
       tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">회원 가입 반려</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="rejection-reason" class="col-form-label">반려 사유를 입력해 주세요.</label>
          <textarea class="form-control" id="rejection-reason" required></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-action" id="btn-reject">반려</button>
        </div>
      </div>
    </div>
  </div>
  <div id="editUserModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
       tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">회원 정보 수정</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p th:class="modal-warning">※ 회원 정보를 수정하기 전에 변경 사항을 확인하세요.</p>
          <div th:class="user-detail">
            <span th:class="detail-label">상호명</span>
            <div th:class="edit-field">
              <input th:id="modifyCompanyName" th:text="${companyName}" th:class="info-value" th:required/>
            </div>
          </div>
          <div th:class="user-detail">
            <span th:class="detail-label">사업자 번호</span>
            <div th:class="edit-field">
              <input th:id="modicyBusinessNumber" th:text="${businessNumber}"
                     th:class="info-value" th:required/>
              <button type="button" class="btn-confirm">확인</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">취소</button>
          <button class="btn btn-action" data-bs-toggle="modal" data-bs-target="#modifyModal">
            수정
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="modifyModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
       tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">회원 정보 수정</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          [ <span th:name="companyName" th:class="modal-content">[companyName]]</span> ] 회원의 정보를 정말로
          수정하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-action">수정</button>
        </div>
      </div>
    </div>
  </div>
  <div id="unregisterModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
       tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">회원 탈퇴</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="modify-unregister-reason" class="col-form-label">강제 탈퇴 사유를 입력해 주세요.</label>
          <textarea class="form-control" id="modify-unregister-reason" required></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">취소</button>
          <button class="btn btn-action" data-bs-toggle="modal" data-bs-target="#removeModal">탈퇴</button>
        </div>
      </div>
    </div>
  </div>
  <div id="removeModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
       tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">회원 탈퇴</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          [ <span th:name="companyName" th:class="modal-content">[companyName]]</span> ] 회원을 정말로
          강제 탈퇴시키겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-action" id="btn-remove">탈퇴</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>