<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/user/index.css">
  <link rel="stylesheet" href="/css/common/table.css">
  <script defer src="/js/common/checkbox.js"></script>
  <title>Admin Index</title>
</head>
<body>
<div layout:fragment="content" class="container">
  <div class="page-info">
    <h1 class="page-title">회원 조회</h1>
    <span class="page-subtitle">회원 관리 > 회원 조회</span>
  </div>
  <div class="search-box">
    <h2 class="title">검색 조건</h2>
    <div class="search-filters">
      <div class="select-menu filter-item">
        <div class="select">
          <span>승인 상태</span>
          <i class="dropdown">
            <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">
          </i>
        </div>
        <div class="option-list">
          <div class="option" data-value="PENDING">승인 대기</div>
          <div class="option" data-value="APPROVED">승인 완료</div>
          <div class="option" data-value="REJECTED">승인 거절</div>
        </div>
      </div>
      <div class="filter-item">
        <input type="text" class="filter-input" placeholder="이름">
      </div>
      <div class="filter-item">
        <input type="text" class="filter-input" placeholder="이메일">
      </div>
      <div class="filter-item">
        <button type="button" class="filter-button">검색</button>
      </div>
    </div>
  </div>
  <div class="table-list">
    <table>
      <thead>
      <tr>
        <th>
          <input class="check-box-all" type="checkbox" value="" onclick="checkAll(this)">
        </th>
        <th>ID</th>
        <th>이름</th>
        <th>상호명</th>
        <th>이메일</th>
        <th>사업자번호</th>
        <th>전화번호</th>
        <th>탈퇴 여부</th>
      </tr>
      </thead>
      <tbody>
      <!-- Example data start -->
      <!-- 삭제 예정 -->
      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'1'}"></td>
        <td th:text="${'신짱구'}"></td>
        <td th:text="${'짱구상사'}"></td>
        <td th:text="${'jjanggu@company.co.kr'}"></td>
        <td th:text="${'123-45-67890'}"></td>
        <td th:text="${'010-1234-5678'}"></td>
        <td th:text="${'X'}"></td>
      </tr>
      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'2'}"></td>
        <td th:text="${'한유리'}"></td>
        <td th:text="${'유리상점'}"></td>
        <td th:text="${'yuri@company.co.kr'}"></td>
        <td th:text="${'234-56-78901'}"></td>
        <td th:text="${'010-2345-6789'}"></td>
        <td th:text="${'O'}"></td>
      </tr>
      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'3'}"></td>
        <td th:text="${'이훈이'}"></td>
        <td th:text="${'훈이물류'}"></td>
        <td th:text="${'hooni@company.co.kr'}"></td>
        <td th:text="${'345-67-89012'}"></td>
        <td th:text="${'010-3456-7890'}"></td>
        <td th:text="${'X'}"></td>
      </tr>
      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'4'}"></td>
        <td th:text="${'이맹구'}"></td>
        <td th:text="${'맹구종합상사'}"></td>
        <td th:text="${'maenggu@company.co.kr'}"></td>
        <td th:text="${'456-78-90123'}"></td>
        <td th:text="${'010-4567-8901'}"></td>
        <td th:text="${'O'}"></td>
      </tr>
      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'5'}"></td>
        <td th:text="${'김철수'}"></td>
        <td th:text="${'철수상회'}"></td>
        <td th:text="${'cheolsoo@company.co.kr'}"></td>
        <td th:text="${'567-89-01234'}"></td>
        <td th:text="${'010-5678-9012'}"></td>
        <td th:text="${'X'}"></td>
      </tr>
      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'6'}"></td>
        <td th:text="${'신형만'}"></td>
        <td th:text="${'형만카페'}"></td>
        <td th:text="${'hyungman@company.co.kr'}"></td>
        <td th:text="${'678-90-12345'}"></td>
        <td th:text="${'010-6789-0123'}"></td>
        <td th:text="${'O'}"></td>
      </tr>
      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'7'}"></td>
        <td th:text="${'봉미선'}"></td>
        <td th:text="${'미선식품'}"></td>
        <td th:text="${'miseon@company.co.kr'}"></td>
        <td th:text="${'789-01-23456'}"></td>
        <td th:text="${'010-7890-1234'}"></td>
        <td th:text="${'X'}"></td>
      </tr>
      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'8'}"></td>
        <td th:text="${'신짱아'}"></td>
        <td th:text="${'짱아건설'}"></td>
        <td th:text="${'jjangah@company.co.kr'}"></td>
        <td th:text="${'890-12-34567'}"></td>
        <td th:text="${'010-8901-2345'}"></td>
        <td th:text="${'O'}"></td>
      </tr>
      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'9'}"></td>
        <td th:text="${'흰둥이'}"></td>
        <td th:text="${'흰둥물산'}"></td>
        <td th:text="${'hindoong@company.co.kr'}"></td>
        <td th:text="${'901-23-45678'}"></td>
        <td th:text="${'010-9012-3456'}"></td>
        <td th:text="${'X'}"></td>
      </tr>
      <tr>
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${'10'}"></td>
        <td th:text="${'한수지'}"></td>
        <td th:text="${'수지가구'}"></td>
        <td th:text="${'suji@company.co.kr'}"></td>
        <td th:text="${'012-34-56789'}"></td>
        <td th:text="${'010-0123-4567'}"></td>
        <td th:text="${'O'}"></td>
      </tr>
      <!-- Example data end -->
      <tr th:each="user : ${userList}">
        <td>
          <input class="check-box" type="checkbox" value="">
        </td>
        <td th:text="${user.id ?: '-'}"></td>
        <td th:text="${user.name ?: '-'}"></td>
        <td th:text="${user.companyName ?: '-'}"></td>
        <td th:text="${user.email ?: '-'}"></td>
        <td th:text="${user.phone ?: '-'}"></td>
        <td th:text="${user.email ?: '-'}"></td>
        <td th:text="${user.isUnregister == 1 ? 'O' : 'X'}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
