<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user/index.css">
  <link rel="stylesheet" href="/css/common/table.css">
  <script src="/js/user/index.js"></script>
   <script defer th:inline="javascript">
    userList()
  </script>
  <title>User Index</title>
</head>
<body>
<div layout:fragment="content" class="container">
  <div class="page-info">
    <h1 class="page-title">회원 조회</h1>
    <span class="page-subtitle">회원 관리 > 회원 조회</span>
  </div>
  <div class="search-box">
    <h3 class="title">검색 조건</h3>
    <div class="search-filters">
      <div class="filter-group">
        <div class="filter-item">
          <input type="text" class="filter-input" placeholder="이름">
        </div>
        <div class="filter-item">
          <input type="text" class="filter-input" placeholder="이메일">
        </div>
      </div>
      <div class="filter-group">
        <div class="select-menu filter-item">
          <div class="select">
            <span>승인 상태</span>
            <i class="dropdown">
              <img src="/media/icons/arrow_down.svg" alt="Arrow Down Icon" width="20" height="20">
            </i>
          </div>
          <div class="option-list">
            <div class="option option-default" data-value="">-- 선택 --</div>
            <div class="option" data-value="PENDING">승인 대기</div>
            <div class="option" data-value="APPROVED">승인 완료</div>
            <div class="option" data-value="REJECTED">승인 거절</div>
          </div>
        </div>
        <div class="filter-item">
          <button type="button" class="filter-button">검색</button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-list">
    <table id="user-list">
      <thead>
      <tr>
        <th>ID</th>
        <th>이름</th>
        <th>상호명</th>
        <th>이메일</th>
        <th>사업자번호</th>
        <th>전화번호</th>
        <th>승인 상태</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
