<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.secondproject.mapper.AdminMapper">
  
  <select id="getAdminCnt" resultType="int">
    SELECT COUNT(id)
    FROM Admin
  </select>

  <select id="findAll" resultType="Admin">
    SELECT id
         , name
         , username
         , company_email AS companyEmail
         , warehouse_id AS warehouseId
         , role
         , phone
         , created_at AS createdAt
    FROM Admin
    <if test="orderBy != null and !orderBy.equals('')">
        ORDER BY ${orderBy} ${orderByDir}
    </if>
        LIMIT #{size} OFFSET #{offset}
  </select>

  <select id="findById" parameterType="int" resultType="AdminResponseDTO">
    SELECT a.id
         , a.name
         , a.username
         , a.company_email AS companyEmail
         , a.warehouse_id AS warehouseId
         , w.name AS warehouseName
         , a.role
         , a.phone
         , a.created_at AS createdAt
         , a.updated_at AS updatedAt
    FROM Admin a
           JOIN Warehouse w ON a.warehouse_id = w.id
    WHERE a.id = #{id};
  </select>

  <update id="updateById" parameterType="map">
    UPDATE Admin
    SET
    <if test="requestDTO.name != null and !requestDTO.name.equals('')">
      name = #{requestDTO.name},
    </if>
    <if test="requestDTO.username != null and !requestDTO.username.equals('')">
      username = #{requestDTO.username},
    </if>
    <if test="requestDTO.warehouseId != null and !requestDTO.warehouseId.equals('') and requestDTO.warehouseId != 0">
      warehouse_id = #{requestDTO.warehouseId},
    </if>
    <if test="requestDTO.role != null">
      role = #{requestDTO.role},
    </if>
    <if test="requestDTO.phone != null and !requestDTO.phone.equals('')">
      phone = #{requestDTO.phone},
    </if>
    updated_id = #{updatedId},
    updated_at = #{requestDTO.updatedAt}
    WHERE id = #{requestDTO.id}
  </update>

</mapper>