<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.secondproject.mapper.InboundApprovalMapper">

  <select id="findApprovalById" parameterType="int" resultType="ApprovalResponseDTO">
    SELECT status
         , rejection_reason AS rejectionReason
         , created_at       AS createdAt
    FROM InboundApproval
    WHERE inbound_id = #{inboundId}
  </select>

  <insert id="insert" parameterType="ApprovalRequestDTO">
    INSERT INTO InboundApproval (inbound_id, approver_id, status, rejection_reason, created_at)
    VALUES (#{requestDTO.id}, #{approverId}, #{requestDTO.status}, #{requestDTO.rejectionReason}, #{requestDTO.createdAt})
  </insert>
</mapper>