<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.secondproject.mapper.StockLogMapper">
  <insert id="insertInboundLog" parameterType="StockLogRequestDTO">
    INSERT INTO StockLog (stock_id, inbound_id, created_at)
    SELECT s.id, #{inboundId}, #{createdAt}
    FROM Inbound i
        JOIN Stock s ON s.product_id = i.product_id
                    AND s.cell_id = i.cell_id
    WHERE i.id = #{inboundId};
  </insert>
</mapper>
