<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.secondproject.mapper.UserMapper">

  <select id="getUserCnt" parameterType="PageRequestDTO" resultType="int">
    SELECT COUNT(u.id)
    FROM User u
         JOIN UserApproval ua ON ua.user_id = u.id
         JOIN (SELECT MAX(created_at) created_at
                    , user_id
               FROM UserApproval
               GROUP BY user_id) maxCrt
              ON maxCrt.user_id = ua.user_id AND maxCrt.created_at = ua.created_at
    <where>
      <if test="search != null">
        <if test="search.S != null and !search.S.equals('')">
          AND ua.status = #{search.S}
        </if>
        <if test="search.N != null and !search.N.equals('')">
          AND u.company_name LIKE '%${search.N}%'
        </if>
        <if test="search.E != null and !search.E.equals('')">
          AND u.email LIKE  '%${search.E}%'
        </if>
      </if>
    </where>
  </select>

  <select id="findAll" parameterType="PageRequestDTO" resultType="UserResponseDTO">
    SELECT u.id
         , u.name
         , u.company_name    AS companyName
         , u.email
         , u.business_number AS businessNumber
         , u.phone
         , ua.status
    FROM User u
         JOIN UserApproval ua ON ua.user_id = u.id
         JOIN (SELECT MAX(created_at) created_at
                    , user_id
               FROM UserApproval
               GROUP BY user_id) maxCrt
              ON maxCrt.user_id = ua.user_id AND maxCrt.created_at = ua.created_at
    <where>
      <if test="search != null">
        <if test="search.S != null and !search.S.equals('')">
          AND ua.status = #{search.S}
        </if>
        <if test="search.N != null and !search.N.equals('')">
          AND u.company_name LIKE '%${search.N}%'
        </if>
        <if test="search.E != null and !search.E.equals('')">
          AND u.email LIKE  '%${search.E}%'
        </if>
      </if>
    </where>
    <if test="orderBy != null and !orderBy.equals('')">
      ORDER BY ${orderBy} ${orderByDir}
    </if>
    LIMIT #{size} OFFSET #{offset}
  </select>

  <select id="findById" parameterType="int" resultType="User">
    SELECT id
         , name
         , username
         , email
         , phone
         , business_number AS businessNumber
         , company_name    AS companyName
         , zip_code        AS zipCode
         , address
         , comment
         , is_unregister   AS isUnregister
         , created_at      AS createdAt
         , updated_at      AS updatedAt
         , unregistered_at AS unregisteredAt
    FROM User
    WHERE id = #{id}
  </select>

  <select id="getApprovalCnt" parameterType="int" resultType="int">
    SELECT COUNT(id)
    FROM UserApproval
    WHERE user_id = #{userId}
  </select>

  <select id="findApprovalByUserId" parameterType="int" resultType="UserApproval">
    SELECT status
         , rejection_reason AS rejectionReason
         , created_at      AS createdAt
    FROM UserApproval
    WHERE user_id = #{userId}
  </select>

  <insert id="insertStatus" parameterType="ApprovalRequestDTO">
    INSERT INTO UserApproval (user_id, approver_id, status, rejection_reason, created_at)
    VALUES (#{requestDTO.id}, #{approverId}, #{requestDTO.status}, #{requestDTO.rejectionReason}, #{requestDTO.createdAt})
  </insert>

</mapper>