<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.secondproject.mapper.WarehouseMapper">
    <select id="selectAll" resultType="Warehouse">
        SELECT * FROM warehouse
    </select>
    
    <insert id="insert">
        INSERT INTO warehouse (admin_id, name, size, capacity, latitude, longitude, address) values (
                                                                                                                                                #{adminId},
                                                                                                                                        #{name},
                                                                                                                                         #{size},
                                                                                                                                         #{capacity},
                                                                                                                                         #{latitude},
                                                                                                                                         #{longitude},
                                                                                                                                         #{address}
                                                                                                                                            )
    </insert>

    <select id="find" resultType="Warehouse">
        SELECT * FROM warehouse where id = #{id}
    </select>


</mapper>
