<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <title>Header</title>
  <link rel="stylesheet" th:href="@{/css/global.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div th:fragment="header">
  <nav class="navbar">
    <div class="align-logo-left">
      <img src="/media/logo/black-logo-header.png" alt="" width="120" height="50">
    </div>
    <div class="navbar-menu">
      <a class="nav-logout" href="#">Logout</a>
      <a class="nav-mypage" th:href="@{/mypage}">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
             class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
      </a>
    </div>
  </nav>
</div>
</body>
</html><!DOCTYPE html>