.search-box {
  height: 180px;
}

.select-box,
.search-button {
  display: flex;
  width: calc(100% - 40px);
  list-style: none;
  justify-content: center;
  align-self: flex-start;
  gap: 15px;
  margin: 5px 10px;
}

.search-box .search-filters {
  display: flex;
  width: calc(100% - 40px);
  list-style: none;
  justify-content: center;
  gap: 25px;
  align-self: flex-start;
}

.search-box .search-filters .filter-item {
  width: 250px;
  max-width: calc(100% / 3);
}

.select-menu {
  max-width: calc(100%);
}

.search-box .filter-button {
  width: calc(100% / 4);
}