.search-box {
  width: 100%;
  height: 180px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-box .title {
  margin-top: 10px;
  align-self: flex-start
}

.select-box,
.search-button {
  display: flex;
  width: calc(100% - 40px);
  list-style: none;
  justify-content: center;
  align-self: flex-start;
  gap: 15px;
  margin: 5px 10px;
}

.search-box .search-filters {
  display: flex;
  width: calc(100% - 40px);
  list-style: none;
  justify-content: center;
  gap: 25px;
  margin: 10px;
  padding: 0;
  align-self: flex-start;
}

.search-box .search-filters .filter-item {
  width: 250px;
  max-width: calc(100% / 3);
}

.search-box .search-filters .select-menu{
  width: 250px;
  max-width: calc(100%);
}


.search-box .search-filters .filter-item .filter-input {
  font-family: 'NanumSquare-Bold', sans-serif;
  font-size: 15px;
  color: #50565C;
  width: 100%;
  height: 35px;
  border: 1px solid #8D9DEF;
  border-radius: 10px;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.search-box .search-filters .filter-item .filter-input:focus {
  border: 1px solid #4F64C9;
}

.search-box .filter-button {
  font-family: 'NanumSquare-Bold', sans-serif;
  font-size: 17px;
  color: #FFFFFF;
  width: calc(100% / 4);
  height: 35px;
  border: none;
  border-radius: 10px;
  background-color: #4F64C9;
}

.search-box .filter-button:active {
  background-color: #3D4FA7;
}

.table-list a {
   color: #242323;
   text-decoration: none;
 }

.table-list a:hover {
  color: #7C8CDC;
}

.table-list {
  justify-content: space-between;
  gap: 25px;
}