

.option-list::-webkit-scrollbar {
  width: 4px;
  background-color: #FFFFFF;
}

.option-list::-webkit-scrollbar-thumb {
  background-color: #4F64C9;
}

.option-list .option-search {
  position: relative;
  margin-bottom: 50px;
}

.option-list .option-search input {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding: 8px 10px;
  border: 1px solid #8D9DEF;
  border-radius: 10px;
}

.option-list .option-search input:focus {
  border: 1px solid #4F64C9;
}

.option-list #dropdown-list p {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  color: #50565C;
  padding: 8px 0px 0px 10px;
}

.option-default {
  text-align: center;
  color: #868E96;
}

.option-list .option {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;
}

.option:hover {
  background-color: #BEC9FF;
  border-radius: 10px;
}

.option.selected {
  background-color: #8D9DEF;
  color: #FFFFFF;
  border-radius: 10px;
}