.search-box {
  height: 230px;
}

.search-box .title {
  margin: 0;
}

.search-box .select-box {
  display: flex;
  width: 75%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.select-group {
  display: flex;
  gap: 15px;
  justify-content: center;
  width: 100%;
}

.select-group:first-child {
  gap: 15px;
}

.filter-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.filter-row .row-label {
  min-width: 75px;
}

.select-group .select-menu,
.date-picker .date-input {
  width: 100%;
}


.select-menu {
  max-width: 100%;
}

.select-menu span {
  margin: 0 5px;
}

.filter-row input {
  background-color: #FFFFFF;
  border: 1px solid #8D9DEF;
  border-radius: 10px;
  padding: 5px 15px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.select-menu.active .option-list {
  z-index: 200;
}

.search-box .select-box .filter-button {
  width: 200px;
  z-index: 100;
}

#inbound-list a {
  color: #242323;
  text-decoration: none;
}

#inbound-list a:hover {
  color: #7C8CDC;
}

.table-list {
  justify-content: space-between;
  gap: 25px;
}